footer {
  background: $pastelyellow;
  color: $darkgreen;
  padding: 20px 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 15%;
  justify-content: center;
}

.social-icon {
  margin: 0 10px;
  display: inline-block;
  font-size: 3em;
}

.social-icon :hover {
  transform: scale(1.2);
}

footer p {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9em;
}
