.navbar {
  background-color: $lightgreen;
  padding: 10px;
  position: fixed; /* Rend la navbar fixe */
  top: 0; /* La positionne en haut de la page */
  width: 100%; /* Assure qu'elle prend toute la largeur de la page */
  z-index: 1000; /* Assure qu'elle reste au-dessus des autres éléments */
}

.nav-list {
  background-color: $lightgreen;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0; /* Enlève les marges par défaut */
  padding: 0; /* Enlève les paddings par défaut */
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: white;
  background-color: $lightgreen;
  text-decoration: none;
  font-size: 18px;
}

.nav-item a:hover {
  text-decoration: underline;
}

/* Ajoutez une marge en haut de votre contenu pour éviter que celui-ci soit caché derrière la navbar */
body {
  margin-top: 60px; /* Ajustez cette valeur selon la hauteur de votre navbar */
}
